
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Yet another dev team">
    <meta name="author" content="F Team">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <title>F Team | 에프팀</title>

    <!-- Bootstrap CSS --><link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Example Cover CSS --><link href="./assets/css/example-cover.css" rel="stylesheet">

    <style>
#technologies .btn {
  margin: .25rem;
}
    </style>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="clearfix">
            <div class="inner">
              <h3 class="masthead-brand">
                <img src="./assets/img/Fteam_logo_w.png" width="200" height="66" alt="F Team Logo" />
              </h3>
              <!--<nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="support@fteam.kr">Contact</a>
              </nav>-->
              <h4 class="cover-heading">Yet another dev team</h4>
            </div>
          </div>

          <div class="inner cover">
            
            
            <p class="lead">1. 중/소규모 소프트웨어 및 시스템 개발 및 자문 / Development and consulting for small & mid-sized systems and softwares.</p>

            <p class="lead">2. 정보시스템 성능 개선 및 문제 해결 / IT systems performance improvement and troubleshooting.</p>

            <p class="lead">사용 기술 및 서비스 / Technologies and services</p>
            <div id="technologies"></div>

            <p></p>
            <a href="mailto:contact@fteam.kr?subject=문의합니다!" class="btn btn-secondary btn-lg btn-block">메일로 문의하기 (Contact via E-mail)</a>
          </div>

          <div class="clearfix">
            <div class="inner small">
              <p>(Logo Font) <a href="https://www.google.co.kr/get/noto/help/cjk/">Noto Sans CJK KR</a> / (Original Template) <a href="https://getbootstrap.com/docs/4.4/examples/cover/">Cover</a> for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- jQuery JS --><script src="./assets/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap JS --><script src="./assets/js/bootstrap.bundle.min.js"></script>
    <!-- lodash JS --><script src="./assets/js/lodash.min.js"></script>
    <script>
let data_technologies = [
  { 
    url: 'https://openjdk.java.net/',
    title: 'Java',
    subtechs: [
      { url: 'https://spring.io/projects/spring-framework', title: 'Spring Framework' },
      { url: 'https://www.egovframe.go.kr/', title: '전자정부프레임워크(eGovFrame)' },
      { url: 'https://spring.io/projects/spring-boot', title: 'Spring Boot' },
      { url: 'https://projectlombok.org/', title: 'Lombok' },
      { url: 'https://maven.apache.org/', title: 'Apache Maven' },
    ]
  },
  {
    url: 'https://www.python.org/',
    title: 'Python',
    subtechs: [
      { url: 'http://flask.pocoo.org/', title: 'Flask' },
      { url: 'https://jinja.palletsprojects.com/', title: 'Jinja' },
      { url: 'https://gbeced.github.io/pyalgotrade/', title: 'PyAlgoTrade' },
      { url: 'https://www.crummy.com/software/BeautifulSoup/', title: 'Beautiful Soup' }
    ]
  },
  {
    title: 'Javascript',
    subtechs: [
      { url: 'https://nodejs.org/', title: 'Node.js' },
      { url: 'https://jquery.com/', title: 'jQuery' },
      { url: 'https://lodash.com/', title: 'Lodash' },
      { url: 'https://vuejs.org/', title: 'Vue.js' },
      { url: 'https://nuxtjs.org/', title: 'Nuxt.js' },
      { url: 'https://electronjs.org/', title: 'Electron' },
      { url: 'https://d3js.org/', title: 'D3.js' },
      { url: 'https://www.jspsych.org/', title: 'jsPsych.js' },
      { url: 'https://phantomjs.org/', title: 'PhantomJS' },
      { url: 'https://pptr.dev/', title: 'Puppeteer' },
      
    ]
  },
  { url: 'https://developer.android.com/', title: 'Android/Java' },
  { url: 'https://developer.apple.com/swift/', title: 'iOS/Swift' },
  { url: 'https://www.tizen.org/', title: 'Tizen/C' },
  { url: 'https://docs.microsoft.com/dotnet/visual-basic/', title: 'Visual BASIC' },
  { url: 'https://www.php.net/', title: 'PHP' },
  {
    title: 'Servers',
    subtechs: [
      { url: 'https://nginx.org/', title: 'nginx' },
      { url: 'https://httpd.apache.org/', title: 'Apache HTTP Server' },
      { url: 'https://tomcat.apache.org/', title: 'Apache Tomcat' },
    ]
  },
  {
    title: 'Databases',
    subtechs: [
      { url: 'https://www.microsoft.com/sql-server/', title: 'SQL Server' },
      { url: 'https://dev.mysql.com/', title: 'MySQL' },
      { url: 'https://mariadb.com/', title: 'MariaDB' },
      { url: 'https://www.oracle.com/database/', title: 'Oracle' },
      { url: 'https://redis.io/', title: 'Redis' },
      { url: 'https://realm.io/', title: 'Realm' },
      { url: 'https://www.mongodb.com/', title: 'MongoDB' },
      { url: 'https://pouchdb.com/', title: 'Pouch DB' },
    ]
  },
  {
    title: 'Cloud Services',
    subtechs: [
      { url: 'https://aws.amazon.com/', title: 'Amazon Web Services (AWS)' },
      { url: 'https://azure.microsoft.com/', title: 'Microsoft Azure' },
      { url: 'https://cloud.google.com/', title: 'Google Cloud Platform (GCP)' },
      { url: 'https://ncloud.com/', title: 'Naver Cloud Platform' },
      { url: 'https://www.ibm.com/cloud', title: 'IBM Cloud' },
    ]
  },
  { url: 'https://sentry.io/', title: 'Sentry' },
  { url: 'https://analytics.google.com/', title: 'Google Analytics' },
  { url: 'https://firebase.google.com/', title: 'Firebase (FCM, Analytics)' },
  { url: 'https://github.com/', title: 'GitHub' },
  { url: 'https://gitlab.com/', title: 'GitLab' },
  { url: 'https://www.atlassian.com/software/bitbucket', title: 'BitBucket' },
  { url: 'https://www.atlassian.com/software/jira', title: 'Jira' },
  { url: 'https://www.atlassian.com/software/confluence', title: 'Confluence' },
  { url: 'https://www.docker.com/', title: 'Docker' },
  { url: 'https://www.vagrantup.com/', title: 'Vagrant' },
  { url: 'https://git-scm.com/', title: 'Git' },
  { url: 'https://subversion.apache.org/', title: 'Apache Subversion (SVN)' },
  { url: 'https://www.elastic.co/kr/products/elastic-stack', title: 'Elastic Stack (Elasticsearch, Logstash, Beats, Kibana)' },
  { url: 'https://prometheus.io/', title: 'Prometheus' },
  { url: 'https://grafana.com/', title: 'Grafana' },
  { url: 'http://zeppelin.apache.org/', title: 'Apache Zeppelin' },
  
]

// https://developers.google.com/web/tools/lighthouse/audits/noopener
let template_techs = _.template('<a href="<%= url %>" class="btn btn-outline-secondary" target="_blank" rel="noopener"><%= title %></a>')
let template_subtechs = _.template('<a href="<%= url %>" class="btn btn-outline-secondary" target="_blank" rel="noopener"><%= title %></a>')

$(document).ready(function() {
  let $t = $('#technologies')

  _.forEach(data_technologies, function(tech) {    
    if('subtechs' in tech) {
      _.forEach(tech.subtechs, function(subtech) {
        $t.append(template_subtechs(subtech))
      })
    } else {
      $t.append(template_techs(tech))
    }
  })
})
    </script>
  </body>
</html>
